.certificate{
    padding: 0 0 100px;
}


.certificate__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.certificate__title{
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #1E005A;
    margin-bottom: 32px;
}

.certificate__button{
    display: flex;
    column-gap: 40px;
    justify-content: center;
}
.certificate__btn{
    cursor: pointer;
    width: 245px;
    height: 60px;
    font-family: 'Arial', sans-serif;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    background: #FF3000;
    border-radius: 30px;
    margin-bottom: 144px;
}
.certificate__btn:hover{
    background: #1E005A;
    transition: 1s;
}

.certificate__line{
    width: 750px;
    border: 2px solid #FE0000;
    margin: 17px 0 24px;
}

.certificate__left-title{
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 48px;
    margin-left: 100px;
    color: #1E005A;
}

.certificate__h4{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 32px;
    color: #FE0000;
}

.certificate__p{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #1E005A;
}
.certificate__btns{
    width: 294px;
    height: 64px;
    background: #FE0000;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.certificate__img{
    margin-top: -76px;
    width: 330px;
    height: 350px;
}

.certificate__right{
    filter: drop-shadow(0 0 0.50rem #1E005A) ;
}


.certificate__btns:hover{
    background: #1E005A;
    transition: 1s;
}

.certificate__text{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1E005A;
    display: flex;
    flex-direction: column;
    margin-left: 37px;
}


.certificate__radius{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 3px;
    background: #1E005A;
}

.certificate__list{
    display: flex;
    align-items: flex-start;
    column-gap: 6px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #1E005A;
    margin-bottom: 18px;
}

.certificate__info{
    display: flex;
    column-gap: 80px;
}

.certificate__row{
    display: flex;
    column-gap: 50px;
}

.certificate__h3{
    margin: 48px 0 28px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #1E005A;
}

@media (max-width: 1200px) {

}

@media (max-width: 1149px) {
    .certificate__img{
        width: 330px;
        height: 350px;
    }
    .certificate__content {
        flex-direction: column-reverse;
        margin-top: 94px;
    }
    .certificate__p {
        font-size: 17px;
        line-height: 25px;
    }
    .certificate__right{
        text-align: center;
    }
}

@media (max-width: 1088px) {
    .certificate__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 992px) {

    .certificate__info {
        column-gap: 71px;
    }
    .certificate__row {
        column-gap: 23px;
    }
    .certificate__h4 {
        font-size: 21px;
        line-height: 28px;
        margin-top: 18px;
    }
}

@media (max-width: 819px) {
    .certificate__row {
        flex-direction: column;
    }
}

@media (max-width: 719px) {
    .certificate__img{
        width: 100%;
        height: 350px;
    }
    .certificate__line {
        width: 100%;
        margin: 17px 0 24px;
    }
    .certificate__left-title{
        text-align: center;
        margin-left: 0;
        font-size: 33px;
    }
    .certificate__info {
        flex-direction: column;
    }
    .certificate__list {
        font-size: 17px;
        line-height: 28px;
    }
    .certificate__h3 {
        font-size: 21px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .certificate__list {
        font-size: 14px;
        line-height: 28px;
    }
    .certificate__h4 {
        font-size: 18px;
        line-height: 22px;
        margin-top: 5px;
    }
}

@media (max-width: 517px) {
    .certificate__btns {
        width: 229px;
        height: 47px;
        font-size: 20px;
        line-height: 32px;
        margin-top: 19px;
    }
    .certificate__list {
        font-size: 12px;
        line-height: 25px;
    }
    .certificate__text {
        font-size: 17px;
    }
}

@media (max-width: 490px) {
    .certificate__list {
        column-gap: 6px;
        font-weight: 400;
        font-size: 11px;
        line-height: 25px;
        margin-bottom: 10px;
    }
}

@media (max-width: 375px) {
    .certificate__list {
        column-gap: 17px;
        font-weight: 400;
        font-size: 9px;
        line-height: 23px;
        margin-bottom: 5px;
    }
}

.certificate__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.certificate__block-radius{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: #1E005A;
    text-align: center;
}

.certificate__block-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 80px 0 30px;
    color: #FE0000;
}

.certificate__block-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

@media (max-width: 940px) {
    .certificate__block-radius {
        width: 600px;
        height: 600px;
        border-radius: 50%;
    }
    .certificate__radius {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #1E005A;
        margin-top: 3px;
    }
    .certificate__left-title {
        font-weight: 900;
        font-size: 35px;
        line-height: 48px;
        text-align: center;
    }
}

@media (max-width: 774px) {
    .certificate__line {
        width: 100%;
        margin: 17px 0 24px;
    }
}

@media (max-width: 673px) {
    .certificate__block-radius {
        width: 600px;
        height: 600px;
        border-radius: 50%;
    }
}

@media (max-width: 600px) {
    .certificate__block-radius {
        width: 555px;
        height: 555px;
        border-radius: 50%;
    }
}

@media (max-width: 530px) {
    .certificate__block-radius {
        width: 500px;
        height: 500px;
        border-radius: 50%;
    }
    .certificate__block-text {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 11px;
    }
    .certificate__block-title {
        font-size: 22px;
        line-height: 27px;
        margin: 59px 0 28px;
    }
}

@media (max-width: 478px) {
    .certificate__block-radius {
        width: 440px;
        height: 440px;
        border-radius: 50%;
    }
    .certificate__block-text {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 13px;
    }
    .program__btns {
        width: 227px;
        height: 44px;
        border-radius: 6px;
        font-size: 21px;
    }
}

@media (max-width: 430px) {
    .certificate__block-radius {
        width: 373px;
        height: 380px;
        border-radius: 50%;
    }
    .certificate__block-text {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 6px;
    }
    .certificate__block-title {
        font-size: 20px;
        line-height: 27px;
        margin: 47px 0 26px;
    }
    .certificate__radius {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-top: 4px;
    }
    .certificate__list {
        column-gap: 6px;
        font-size: 8px;
        font-weight: 700;
        line-height: 17px;
    }
}

@media (max-width: 370px) {
    .certificate__block-radius {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .certificate__block-text {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 2px;
    }
    .certificate__block-title {
        font-size: 17px;
        line-height: 23px;
        margin: 35px 0 20px;
    }
}
